@using net_jobs.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - net_jobs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/net_jobs.styles.css" asp-append-version="true"/>
</head>
<body>

<div class="w-full border-b border-gray-100 px-4">
    <div class="flex flex-row items-center max-w-7xl mx-auto justify-between  py-4">
        <div>
            <h1 class="text-3xl font-black tracking-widest text-blue-500">NET Jobs</h1>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div>
                <a asp-area="" asp-page="/Admin/Index" class=" px-4 rounded-xl text-white py-3 inline-flex items-center justify-center bg-blue-500">Admin</a>
            </div>
        }
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="hidden sm:grid grid-cols-1 place-items-end ">
                <div>
                    <a asp-area="" asp-page="/Logout" class=" px-4 rounded-xl text-white py-3 inline-flex items-center justify-center bg-red-500">Logout</a>
                </div>
            </div>
        }
    </div>
</div>
<div class="container">
    <main role="main" class="pb-3">
        <!--Main Navigation-->

        @RenderBody()
    </main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>